#dashboardButton:hover {
   -fx-background-color: orange;
}

.products-table {
    -fx-background-color:#fff;
    -fx-alignment:center;

}
.products-table column-header {
    -fx-background-color:orange
}

stocks-tableView{
    -fx-background-color: #e0fbff;
}

.rooms-table-table-rows:odd {
    -fx-background-color:orange;
}

.MessageLogsTableView {
-fx-background-color:red;

}

.MessageLogsTableView header{
    -fx-background-color:orange;
}